Repository MadEase-Graduation-Project/Front_End, pull requests merged in 2025-07, with the labels that each got.

#64 community-klaaaaaaaaaas
  src/components/shared/AdviceCard.jsx
  src/pages/main/Community/Community.jsx
  src/pages/main/Community/components/Popup.jsx
  src/services/patientApi.jsx
  src/store/slices/patientSlice.jsx
Labels: Articles

#71 editapis:ylaaahwaaaay
  src/App.jsx
  src/components/home/Footer.jsx
  src/layouts/Main_Layout.jsx
  src/lib/axios.jsx
  src/pages/main/About.jsx
  src/pages/main/HomePage.jsx
  src/pages/main/LogIn.jsx
  src/services/adminApi.jsx
  src/services/adsApi.jsx
  src/services/adviceApi.jsx
  src/services/appointmentApi.jsx
  src/services/diagnosisApi.jsx
  src/services/diseaseApi.jsx
  src/services/diseasesCategoriesApi.jsx
  src/services/doctorApi.jsx
  src/services/editUserApi.jsx
  src/services/hospitalApi.jsx
  src/services/nurseApi.jsx
  src/services/otpApi.jsx
  src/services/patientApi.jsx
  src/services/signUserApi.jsx
  src/services/treatmentsApi.jsx
  src/services/userApi.jsx
  src/store/slices/adminSlice.jsx
  src/store/slices/adsSlice.jsx
  src/store/slices/adviceSlice.jsx
  src/store/slices/appointmentSlice.jsx
  src/store/slices/diagnosisSlice.jsx
  src/store/slices/diseaseSlice.jsx
  src/store/slices/diseasesCategorySlice.jsx
  src/store/slices/doctorSlice.jsx
  src/store/slices/hospitalSlice.jsx
  src/store/slices/nurseSlice.jsx
  src/store/slices/otpSlice.jsx
  src/store/slices/patientSlice.jsx
  src/store/slices/signSlice.jsx
  src/store/slices/treatmentSlice.jsx
  src/store/slices/userSlice.jsx
  src/utils/casesHandlersUtils.js
  src/utils/paginationCasesHandlersUtils.js
Labels: Admin, APIs, State Management

#76 chat integration
  src/component/Conversation/Conversation.css
  src/component/Conversation/Conversation.jsx
  src/component/Message/Message.css
  src/component/Message/Message.jsx
  src/component/Messanger/Messanger.css
  src/component/Messanger/Messanger.jsx
  src/components/home/Navbar.jsx
  src/pages/general/Test.jsx
  src/pages/main/register/LogIn.jsx
  src/pages/nurse/PatientDetails/PatientDetails.jsx
  src/socket.js
Labels: Patient

#87 ChatbotDoneYamalem
  src/component/Messanger/Messanger.jsx
  src/components/shared/Popup.jsx
  src/pages/admin/AppointmentsPage/AppointmentsPage.jsx
  src/pages/general/Test.jsx
  src/pages/main/Community/Community.jsx
  src/pages/main/register/LogIn.jsx
  src/pages/patient/MedBot/MedBot.jsx
  src/pages/patient/MedBot/components/Chatbot.jsx
  src/services/doctorApi.jsx
  src/store/selectors/chatbotSelectors.js
  src/store/slices/chatbotSlice.jsx
  src/store/slices/doctorSlice.jsx
  src/store/store.jsx
Labels: Patient

#88 Admin edits
  src/App.jsx
  src/components/role/admin/DeleteConfirm.jsx
  src/components/role/admin/ViewCards.jsx
  src/components/role/admin/ViewTable.jsx
  src/components/shared/Setting/Setting.jsx
  src/components/shared/Setting/components/Appearance.jsx
  src/components/shared/Setting/components/ChangeEmail.jsx
  src/components/shared/Setting/components/ProfileInfo.jsx
  src/components/shared/Setting/components/ResetPassword.jsx
  src/components/shared/Setting/components/Security.jsx
  src/components/ui/table.jsx
  src/pages/admin/AdvicesPage/AdvicesPage.jsx
  src/pages/admin/AppointmentsPage/AppointmentsPage.jsx
  src/pages/admin/AppointmentsPage/components/ShowAppointment.jsx
  src/pages/admin/DiseasesCategoriesPage/DiseasesCategoriesPage.jsx
  src/pages/admin/DiseasesCategoriesPage/components/ShowDiseaseCategory.jsx
  src/pages/admin/DiseasesPage/DiseasesPage.jsx
  src/pages/admin/DiseasesPage/components/ShowDisease.jsx
  src/pages/admin/TreatmentsPage/TreatmentsPage.jsx
  src/pages/admin/TreatmentsPage/components/ShowTreatment.jsx
  src/pages/admin/UsersPages/AdminsPage.jsx
  src/pages/admin/UsersPages/DoctorsPage.jsx
  src/pages/admin/UsersPages/PatientsPage.jsx
  src/pages/admin/UsersPages/components/ShowProfile.jsx
  src/pages/doctor/Settings.jsx
  src/pages/patient/Settings/Settings.jsx
  src/store/slices/doctorSlice.jsx
Labels: Admin

#92 fix:chatRepeatQ
  src/lib/axios.jsx
  src/pages/patient/MedBot/MedBot.jsx
  src/pages/patient/MedBot/components/Chatbot.jsx
  src/utils/stringUtils.js
Labels: Patient
